//colors
$wild_sand: #f4f4f4;
$color_azure_approx: #3b5998;
$concrete: #f2f2f2;
$color_alto_approx: #ddd;
$black: #000;
$color_woodsmoke_approx: #111;
$color_celeste_approx: #ccc;
$white: #fff;

//fonts
$font_0: Arial;
$font_1: Serif;

body {
	font-family: $font_0, $font_1;
	background-color: $wild_sand;
	overflow-x: hidden;
}
.navbar {
	background-color: $color_azure_approx;
	overflow: hidden;
	height: 63px;
	a {
		float: left;
		display: block;
		color: $concrete;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		&:hover {
			background-color: $color_alto_approx;
			color: $black;
		}
	}
	ul {
		margin: 8px 0 0;
		list-style: none;
	}
}
.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $color_woodsmoke_approx;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.5s;
	a {
		padding: 10px 10px 10px 30px;
		text-decoration: none;
		font-size: 22px;
		color: $color_celeste_approx;
		display: block;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 0.3s;
		&:hover {
			color: $white;
		}
	}
	.btn-close {
		position: absolute;
		top: 0;
		right: 22px;
		font-size: 36px;
		margin-left: 50px;
	}
}
#main {
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: margin-left 0.5s;
	padding: 20px;
	overflow: hidden;
	width: 100%;
}
@media(max-width:568px) {
	.navbar-nav {
		display: none;
	}
}
@media(min-width:568px) {
}