$color-periwinkle-gray: #b2c7e2;
$color-white: #fff;
$color-gulf-stream: #74AFAD;
$color-smalt-blue: #558C89;
$color-gumbo: #7ea1a6;
$color-fiord: #415a67;
$color-pelorous: #42bcbd;
$color-charm: #d76d93;
$color-affair: #7e4b83;
$color-confetti: #eacb5f;
$color-fantasy: #f9f0ee;
$color-twilight: #e3ceda;
$color-manatee: #8a8fa2;
$color-twitter: #00aced;
$color-facebook: #3b5998;
$color-linkedin: #007bb6;
$color-youtube: #bb0000;
$color-instagram: #bc2a8d;
$color-black: #000;
$color-stackoverflow: #f48024;