doctype html
html
    block cool-config
    head
        title=myTitleForGoogleSearch
        meta(name="description", content=myDescriptionForGoogleSearch)
        if config.entry.css.inline
        link(rel="stylesheet", href=`${inlinePath}`, inline)
    body
        block awesome-content
link(rel="stylesheet", href='style.css')