.landing-page {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(#859398, #283048);
    // background-color: #808284
}

.landing-page__wrapper {
    text-align: center;
}

.landing-page__first-name,
.landing-page__sir-name
 {
    padding: 0.2rem 0.4rem;
    font-size: 5rem;
    text-transform: uppercase;
    float: left;

}
.landing-page__first-name{
    color: $color-gray-chateau;
}
.landing-page__sir-name{
    color: $color-galliano;
}

.landing-page__title {
    font-size: 3rem;
    text-transform: capitalize;
}

.landing-page__social {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}

.landing-page__label {
    color: $color-white;
    padding: 0.1rem 0.3rem;
    font-size: 2rem;
    cursor: pointer;
}
.landing-page__label{
        &:hover{
            .my-resume__icon--facebook2{
                color: $color-facebook;
                text-shadow: 0 0 15px $color-facebook;
                transition: all 0.5s ease;
            }
            .my-resume__icon--youtube{
                color: $color-youtube;
                text-shadow: 0 0 15px $color-youtube;
                transition: all 0.5s ease;
            }
            .my-resume__icon--github{
                color: $color-black;
                text-shadow: 0 0 15px $color-black;
                transition: all 0.5s ease;
            }
            .my-resume__icon--twitter{
                color: $color-twitter;
                text-shadow: 0 0 15px $color-twitter;
                transition: all 0.5s ease;
            }
            .my-resume__icon--linkedin{
                color: $color-linkedin;
                text-shadow: 0 0 15px $color-linkedin;
                transition: all 0.5s ease;
            }
            .my-resume__icon--stackoverflow{
                color: $color-stackoverflow;
                text-shadow: 0 0 15px $color-stackoverflow;
                transition: all 0.5s ease;
            }
        }
}

.landing-page__box-radio:checked+.landing-page__box-message {
    display: inherit;
}

.landing-page__box-radio,
.landing-page__box-message {
    display: none;
}

#default-message-radio:checked+.landing-page__box-message+.landing-page__box-header {
    display: none;
}

.landing-page__box-body {
    display: inline-block;
    border: 0.2rem solid $color-white;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
    position: relative;
}

.landing-page__box-header {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 100%;
    display: flex;
    justify-content: space-between;
}

.landing-page__box-info,
.landing-page__box-close {
    background: $color-white;
    padding: 0.4rem;
    white-space: nowrap;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.landing-page__box-info {
    border-bottom-left-radius: 0.5rem;
    flex-grow: 1;
}

.landing-page__box-close {
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.5rem;
}

.landing-page__box-link,
.landing-page__box-link:visited,
.landing-page__box-message {
    color: $color-white;
}

.landing-page__box-link,
.landing-page__box-link:visited {
    font-size: 1.4rem;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80vmin;
    display: block;
}