.footer__wrapper{
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
    background-image:  radial-gradient(#505875, #415a67);
    margin: 2rem 0 0 0;
}

.footer__links{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0 0.5rem;
    &:hover{
        .my-resume__icon--facebook2{
            color: $color-facebook;
            text-shadow: 0 0 15px $color-facebook;
            transition: all 0.5s ease;
        }
        .my-resume__icon--github{
            color: $color-black;
            text-shadow: 0 0 15px $color-black;
            transition: all 0.5s ease;
        }
        .my-resume__icon--twitter{
            color: $color-twitter;
            text-shadow: 0 0 15px $color-twitter;
            transition: all 0.5s ease;
        }
        .my-resume__icon--linkedin{
            color: $color-linkedin;
            text-shadow: 0 0 15px $color-linkedin;
            transition: all 0.5s ease;
        }
    }
}

.footer__rights{
    font-size: 0.6rem;
}
.footer__contact{
    display: flex;
    justify-content: space-around;
    width: 100%;
    .footer__email{
        padding: 0 2rem;
        text-decoration: none;
        color: white;
        &:hover{
            color: $color-pelorous;
            text-shadow: 0 0 15px $color-pelorous;
            transition: all 0.5s ease;
        }
    }
}