.menu {
    padding: 2rem;
    background-color: $color-white;
    position: relative;
}

.menu__list {
    border: 0.1rem solid $color-manatee;
    border-radius: 0.5rem;
}

.menu__link {
    display: block;
    padding: 1rem;
    font-size: 2.5rem;
    color: $color-gumbo;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-gumbo;

    &:last-child {
        border: 0;
    }
}
.menu__label {
    padding: 0 1rem;
}

.menu__go-to {
    background-color: $color-fiord;
    color: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    text-decoration: none;
}