-
    var menuList = [
        {
        label: 'home',
        icon: 'home',
        link: '#landing-page',
        },        {
        label: 'about-me',
        icon: 'smile',
        link: '#about-me',
        },
        {
        label: 'awards',
        icon: 'trophy',
        link: '#award',
        },
        {
        label: 'skills',
        icon: 'hammer',
        link: '#what-can-i-do',
        },
        {
        label: 'experience',
        icon: 'airplane',
        link: '#experience',
        }
    ]
#menu
a.menu__go-to(href='#menu')
    span.my-resume__icon--menu3
.menu
    .menu__list
        each menu in menuList
            a.menu__link(href=menu.link)
                span(class=`my-resume__icon--${menu.icon}`)
                span.menu__label=menu.label